* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
  --surface-color: rgb(39, 40, 34);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --border-color: rgb(0, 206, 209);
  --link-color: rgb(0, 188, 188);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --surface-color: rgb(237, 237, 245);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --border-color: rgb(70, 0, 255);
  --link-color: rgb(0, 0, 169);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  font-family: "Carlito", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  width: 984px;
  margin: 0 auto 0 auto;
}

#container {
  padding: 50px;
  height: 2500px;
}

#buttons {
  position: relative;
}

#return {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}

#return a {
  font-size: 35px;
  color: var(--text-color);
  padding: 7px;
  border-radius: 50%;
}

#return a:hover {
  background: var(--highlight-color);
}

#download {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

#download a {
  font-size: 35px;
  color: var(--text-color);
  padding: 7px;
  border-radius: 50%;
}

#download a:hover {
  background: var(--highlight-color);
}

#curriculum-vitae {
  background: var(--surface-color);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  width: 800px;
  height: 1150px;
  padding: 45px;
}

#curriculum-vitae h1 {
  margin-top: 10px;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 10px;
}

#curriculum-vitae h2 {
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 10px;
  margin-top: 20px;
}

#curriculum-vitae p {
  text-align: justify;
  line-height: 1.3;
}

#curriculum-vitae p a {
  color: var(--link-color);
  text-decoration: none;
}

#curriculum-vitae li {
  list-style-type: none;
  line-height: 1.7;
}

#curriculum-vitae table {
  color: var(--text-color);
}

#curriculum-vitae table th {
  text-align: left;
  min-width: 150px;
  padding-bottom: 5px;
}

#curriculum-vitae table td {
  text-align: justify;
  line-height: 1.3;
  padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
  #return {
    width: 80px;
    height: 80px;
  }
  #return a {
    font-size: 50px;
  }
  #download {
    width: 80px;
    height: 80px;
  }
  #download a {
    font-size: 50px;
  }
  #curriculum-vitae {
    font-size: 19px;
    padding: 45px 55px 55px 55px;
  }
  #curriculum-vitae h1 {
    margin-top: 20px;
  }
  #curriculum-vitae h2 {
    margin-top: 15px;
  }
  #curriculum-vitae table {
    font-size: 19px;
  }
}
